/* Enter your custom styles here */
.CustomSidNav{
    opacity: 0.8;
}
.CustomTileBGColor{
    background-color: #000000;
}
.sapMGT.OneByHalf {
    height:6.75em;
}
.sapMTitleStyleAuto {
    font-size: .875rem;
}
.sapSuiteRMCGoodTextColor{
    font-weight: bold;
}
.sapMFCCTxt .sapMText {
    color: #ffe600;
}

